* {
  margin,
  border,
  padding: 0;
  overflow-x: hidden;
  body: 100vw;
}
ul li a {
  color: white;
}
#fork-me {
  position: absolute;
  height: 40px;
  z-index: 100;
}
.nav-link {
}
#holder-div {
  width: 200px;
}
#big-div {
  margin: 0;
  /*margin-left: 10vw;*/
  position: absolute;
}
@media (min-width: 767px) {
  #big-div {
    width: 100vw;
  }
}
#nav-div {
  width: 200px;
  position: relative;
}
#out-of-nav {
  position: relative;
  bottom: 0;
}

#banner-row {
  width: 100vw;
  left: 0;
  background-color: black;
}
#my-nav {
  z-index: 100;
  width: 10vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  float: left;
  position: fixed;
  background-color: grey;

}
#intro-para {
  position: relative;
}
.trek-poster {
  width: 100%;
}
#banner-div {

}
#banner {
  width: 100%;
  background-color: black;
}
#title-text {
  margin-top: 30px;
  padding: 25px;
}
#trib-txt {
  margin: 0;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}
